In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pgscen.iso.ercot import create_day_ahead_solar_scenario

In [6]:
solar_meta_df = pd.read_excel('../data/MetaData/solar_meta.xlsx')

In [7]:
solar_site_actual_df = pd.read_csv('../data/Solar/NREL/Actual/solar_actual_1h_site_2017_2018_utc.csv',
                                  parse_dates=['Time'],index_col='Time')

solar_site_forecast_df = pd.read_csv('../data/Solar/NREL/Day-ahead/solar_day_ahead_forecast_site_2017_2018_utc.csv',
                                  parse_dates=['Issue_time','Forecast_time'])

solar_asset_list = solar_site_actual_df.columns.tolist()

In [8]:
scenario_start_time = pd.to_datetime('2018-09-01 06:00:00',utc=True)
nscen = 1000
output_dir = '/Users/xy3134/Research/PERFORM/Data/GEMINI_scenario/test/'

In [10]:
se = create_day_ahead_solar_scenario(solar_site_actual_df,solar_site_forecast_df,solar_asset_list,
        solar_meta_df,scenario_start_time,nscen,output_dir=output_dir,return_engine=True)

In [70]:
pd.read_csv(output_dir+'20180901/solar/solar290.csv').head()

,Type,Index,0600,0700,0800,0900,1000,1100,1200,1300,...,2000,2100,2200,2300,0000,0100,0200,0300,0400,0500
0,Actual,1,0.0,0.0,0.0,0.0,0.0,0.0,1.255784,6.205978,...,9.540552,10.094896,8.409982,6.204763,1.428408,0.0,0.0,0.0,0.0,0.0
1,Forecast,1,0.0,0.0,0.0,0.0,0.0,0.0,0.758004,5.818610,...,9.847472,9.049995,7.898401,4.461640,0.866413,0.0,0.0,0.0,0.0,0.0
2,Simulation,1,0.0,0.0,0.0,0.0,0.0,0.0,1.721585,8.805993,...,10.305954,9.190207,8.872148,4.604120,1.105682,0.0,0.0,0.0,0.0,0.0
3,Simulation,2,0.0,0.0,0.0,0.0,0.0,0.0,1.796023,6.843782,...,9.319233,9.468060,7.854263,4.494966,0.966701,0.0,0.0,0.0,0.0,0.0
4,Simulation,3,0.0,0.0,0.0,0.0,0.0,0.0,1.030442,3.381214,...,9.625380,4.762110,6.180018,2.346131,1.920053,0.0,0.0,0.0,0.0,0.0